<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}

<!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
{% block content %}
{%  if 'OK' in request.GET %}
<div class="text-center mb-3">
    <div class="alert alert-success"><span class="text-success">  El mensaje se ha enviado correctamente</span></div>
</div>
{% endif %}
{%  if 'KO' in request.GET %}
    <div class="text-center mb-3">
        <div class="alert alert-danger"><span class="text-danger">  Se ha producido un error enviando el mensaje</span></div>
    </div>
{% endif %}
<div class="contact-us section">
<div class=container>
<div class=row>
<div class="col-lg-6 col-12">
<div class=contact-form>
<form id="contactForm" action="" method="POST">
    {% csrf_token %} 
    <div class="form-group">
        {{contacto.nombre}}

    </div>
    <div class="form-group">
        {{contacto.email}}

    </div>
    <div class="form-group">
        {{contacto.mensaje}}

    </div>
    <br />
<div class=button>
    <input type="submit" class="btn btn-primary text-uppercase"  value="Enviar mensaje">
</div>
</form>
</div>
</div>
<div class="col-lg-6 col-12">
<div class=contact-widget-wrapper>
<div class=main-title>
<h2>Deja tu mensaje y te contestaré tan pronto como pueda</h2>
<p>Este sitio web es solamente a efectos de aprendizaje, con lo cual es probable que alguna función, incluido este formulario de contacto, en alguna ocasión esté deshabilitada.</p>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock%}