<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}
<!-- POSIBILITAMOS EL MULTI IDIOMA  , hay que cargar esto en todos los templates -->
{% load i18n %}

<!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
{% block content %}
{% if 'OK' in request.GET %}
<div class="text-center mb-3">
    <div class="alert alert-success"><span class="text-success"> El mensaje se ha enviado correctamente</span></div>
</div>
{% endif %}
{% if 'KO' in request.GET %}
<div class="text-center mb-3">
    <div class="alert alert-danger"><span class="text-danger"> Se ha producido un error enviando el mensaje</span></div>
</div>
{% endif %}
<section class="contact-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="contact-item-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-envelop"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>{% trans "Contacto" %}</h4>
                                    <p>contacto@josemanuelsanz.es</p>
                                </div>
                            </div>
                            <div class="contact-item">
                                
                                    {% blocktrans trimmed %}
                                    <p>Este sitio web es solamente a efectos de aprendizaje, con lo cual es probable que alguna función, incluido este formulario de contacto, en alguna ocasión esté deshabilitada.
                                        Por ejemplo: en el sitio de producción (y mientras no tenga un dominio propio), el envio de correos a través de formularios esta limitado.
                                    </p>
                                    {% endblocktrans %}
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="contact-form-wrapper">
                    <div class="row">
                        <div class="col-xl-10 col-lg-8 mx-auto">
                            <div class="section-title text-center mb-50">
                                <span class="wow fadeInDown" >{% trans "Deja tu mensaje" %}</span>
                               
                                <p class="wow fadeInUp">{% trans "Te contestaré tan pronto como pueda" %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <form id="contactForm" action="" method="POST" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                {{contacto.nombre}}
                            </div>
                            <div class="col-md-6">
                                {{contacto.email}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{contacto.mensaje}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="button text-center">
                                    <button type="submit" class="theme-btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<p><br></p>

    {% endblock%}