<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}
<!-- POSIBILITAMOS EL MULTI IDIOMA  , hay que cargar esto en todos los templates -->
{% load i18n %}

<!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
{% block content %}
<section class="blog-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="left-side-wrapper mb-60">
                    <p><h2>Crea tu mensaje secreto: </h2><br>
                        <p>Esta pequeña aplicación, permite enviar un mensaje secreto (contraseñas, correos, etc) de forma discreta. El usuario recibe <b>un link de un solo uso</b> y el mensaje se borra una vez abierto.</p>
                        <p><br></p>
                        <p style="color: red;"><strong>Recuerda: </strong>El mensaje será eliminado en el momento en que el receptor del mismo lo abra.<br></p></p>
                    <form action="{% url 'procesar_secretos' %}" method="POST" class="contact-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12" style="margin-bottom:10px;">
                                {{form.mensaje}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="button text-center" style="margin-bottom:10px;">
                                    
                                    <p>

                                        <button type="submit" class="theme-btn btn-primary btn-lg-block">Enviar secreto</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}
