    <!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
    {% extends 'core/base.html' %}
    <!-- CARGAMOS LOS DATOS DE LA NOTICIA CONCRETA -->
    
    {% for noticias in noticias %}
    <!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
    {% block content %}
    <div class="blog-single">
    <div class=single-inner>
    <div class=post-details>
    <div class=main-content-head>
    <div class=meta-information>

    <ul class=meta-info>
    <li>
    <a href="javascript:void(0)">Por {{noticia.autor}}</a>
    </li>
    <li>
    <a href="javascript:void(0)">{{noticia.fecha_creacion}}</a>
    </li>
    <li>
    <a href="javascript:void(0)">Marketing</a>
    </li>
    </ul>
    
    </div>
    <div class="post-thumbnils" style="border-radius: 2%;">
        <img src="{{noticia.imagen.url}}">
        </div>
    <div class=detail-inner>
        <p>{{noticia.contenido|linebreaks}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!-- COMENTARIOS -->

    <a name="comentario" style="margin-top: 200px;">aqui está el anchor de comentarios</a>


    <div class=post-comments>
    <h3 class=comment-title><span> {{ noticia.comentarios.count }} comentarios en esta noticia</span></h3>

    <ul class=comments-list>
        {% for comentario in comentarios_aprobados %}
    <li>
    <!-- <div class=comment-img>
    <img data-pagespeed-lazy-src="assets/images/blog/xcomment1.jpg.pagespeed.ic.nTUzOhBqKr.webp" alt=img data-pagespeed-url-hash=3568828081 src="/pagespeed_static/1.JiBnMqyl6S.gif" onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
    </div> -->
    <div class=comment-desc>
    <div class=desc-top>
    <h6>{{ comentario.nombre }}</h6>
    <span class=date>{{ comentario.fecha_creacion }}</span>
    <a href="javascript:void(0)" class=reply-link><i class="lni lni-reply"></i>Responder</a>
    </div>
    <p>{{ comentario.contenido }}</p>
    </div>
    </li>
    {% endfor %}
    </ul>
    </div>
    <div class="mensajes" style="padding: 20px;">
    {%  if 'OK' in request.GET %}
    <div class="text-center mb-3">
        <div class="alert alert-success"><span class="text-success">  El comentario se ha guardado correctamente</span></div>
    </div>
    {% endif %}
    {%  if 'KO' in request.GET %}
        <div class="text-center mb-3">
            <div class="alert alert-danger"><span class="text-danger">  Se ha producido un error guardando el comentario</span></div>
        </div>
    {% endif %}
</div>
    <div class=comment-form>
    <h3 class=comment-reply-title>Deja tu comentario</h3>
    <form id="ComentarioForm" action="{% url 'procesar_comentario' %}" method="POST">
    <input type="hidden" name="pagina" value="{{ noticia.slug }}">
    {% csrf_token %}
    <div class=row>
    <div class=col-12>
    <div class="form-box form-group">
    <label>Comentario</label>
    <textarea name="mensaje" class="form-control form-control-custom" placeholder="Escribe tu comentario"></textarea>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
    <div class="form-box form-group">
    <label>Nombre</label>
    <input type=text name="nombre" class="form-control form-control-custom" placeholder="Tu nombre" />
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
    <div class="form-box form-group">
    <label>Correo electrónico</label>
    <input type=email name="email" class="form-control form-control-custom" placeholder="example@gmail.com" />
    </div>
    </div>
    <div class=col-12>
    <div class=button>
    <button type=submit class=btn>Enviar comentario</button>
    </div>
    </div>
    </div>
    </form>
    </div>

    {% endblock %}
    {% endfor %}