<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}
    <!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
    {% block content %}
    <div class=row>
    <!-- CARGAMOS LAS resultados -->
   {% for resultados in resultados %}
    <!-- areea para cada post-->
    <div class="col-lg-6 col-md-6 col-12">
    
    <div class=single-blog-grid>
    <div class=blog-img>
    <a href="/blog/{{resultados.slug}}">
        <script data-pagespeed-no-defer>window['pagespeed'] = window['pagespeed'] || {};var pagespeed = window['pagespeed'];pagespeed.switchToHighResAndMaybeBeacon = function(elem) {setTimeout(function(){elem.onload = null;var srcset = elem.getAttribute('data-pagespeed-high-res-srcset');if (srcset) {elem.srcset = srcset;}elem.src = elem.getAttribute('data-pagespeed-high-res-src');if (pagespeed.CriticalImages) {elem.onload = pagespeed.CriticalImages.checkImageForCriticality(elem);}}, 0);};</script><img data-pagespeed-high-res-src="{{ resultados.imagen.url }}" alt="#" data-pagespeed-url-hash=1334232145 src="{{ resultados.imagen.url }}" onload="pagespeed.switchToHighResAndMaybeBeacon(this);" onerror="this.onerror=null;pagespeed.switchToHighResAndMaybeBeacon(this);">

   
    </a>
    </div>
    <div class=blog-content>
    <a class=category href="javascript:void(0)">{{resultados.subtitulo}}</a>
    <h4>
    <a href="/blog/{{resultados.slug}}">{{resultados.titulo}}</a>
    </h4>
    <p>{{ resultados.contenido|slice:":250"|safe }}</p>
    <a href="/blog/{{resultados.slug}}" class=more-btn>Leer más <i class="lni lni-arrow-right"></i></a>
    </div>
    </div>
    
    </div>

    <!-- area para cada post-->
   {% endfor %}
    <!-- CARGAMOS LAS resultados -->
    </div>
    
    <div class="pagination left">
    <ul class=pagination-list>
    <li><a href="javascript:void(0)">Prev</a></li>
    <li class=active><a href="javascript:void(0)">2</a></li>
    <li><a href="javascript:void(0)">3</a></li>
    <li><a href="javascript:void(0)">4</a></li>
    <li><a href="javascript:void(0)">Next</a></li>
    </ul>
    </div>
    
   
    {% endblock %}