<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}

<!-- IMAGEN DE LA CABECERA -->
{% block background %}{% load static %}{% static 'core/assets/img/about-bg.jpg' %}{% endblock %}

<!-- CONTENIDO DE LA CABECERA -->
{% block cabecera %}
<div class="site-heading">
    <h2>About</h2>
    <span class="subheading">Un blog hecho con Python/Django</span>
</div>
{% endblock %}

<!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
{% block content %}
<p>El objeto de este sitio es ir avanzado en el aprendizaje el desarrollo en Python/Django.</p>
<p>Como es de suponer, estará siempre en versión beta y poco a poco, se irán ampliando las opciones del mismo.</p>
<p>Se puede seguir el desarrollo de este proyecto en mi repositorio de <a href="https://github.com/jmsanzprieto/webpersonal">GitHub</a></p>
{% endblock %}