<!-- INDICAMOS QUE VAMOS A EXTENDER LA PLANTILLA BASE -->
{% extends 'core/base.html' %}

<!-- IMAGEN DE LA CABECERA -->
{% block background %}{% load static %}{% static 'core/assets/img/about-bg.jpg' %}{% endblock %}

<!-- CONTENIDO DE LA CABECERA -->
{% block cabecera %}
<div class="site-heading">
    <h2>{{pagina.titulo}}</h2>
    <span class="subheading">{{pagina.subitulo}}</span>
</div>
{% endblock %}

<!-- INCLUIMOS EL CONTENIDO QUE VARIA DENTRO  DEL BLOCK CONTENT -->
{% block content %}
{{pagina.contenido}}
{% endblock %}