<!DOCTYPE html>
<html lang="es-ES">

<head>
    <!-- HACEMOS LA LLAMADA A LA CARGA DE FICHEROS ESTÁTICOS -->
    {% load static %}

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {% if noticia %}
            {{ noticia.titulo }}
        {% elif pagina %}
            {{ pagina.titulo }}
        {% elif categoria %}
            {{ categoria.nombre}}
        {% else %}
            Inicio
        {% endif %}
    | José Manuel Sanz
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/assets/images/favicon.svg' %}" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'core/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}" />

</head>
<body>

    <!-- Start Header Area -->
<header class="header navbar-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                    <!-- Start Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <h4>José Manuel Sanz</h4>
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-item px-lg-3 py-3 py-lg-4" href="{% url 'home' %}">Inicio</a></li>
                                <!-- LISTADO DE PAGINAS ESTÁTICAS/DINAMICAS SERVIDAS DESDE LA BASE DE DATOS -->
                                 {% for pagina in paginas %}
                                     <li class="nav-item"><a class="nav-item px-lg-3 py-3 py-lg-4" href="/pagina/{{pagina.slug}}/">{{ pagina.titulo }}</a></li>
                                 {% endfor %}
                                 <!-- LISTADO DE PAGINAS ESTÁTICAS/DINAMICAS SERVIDAS DESDE LA BASE DE DATOS -->
                                 <li class="nav-item"><a class="nav-item px-lg-3 py-3 py-lg-4" href="{% url 'contacto' %}">Contacto</a></li>        
                            </ul>
                        </div> <!-- navbar collapse -->
                        <!-- <div class="button">
                            <a href="signin.html" class="signin">Sign In</a>
                            <a href="signup.html" class="signup">Sign Up</a>
                        </div> -->
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>
<!-- End Header Area -->

<div class=breadcrumbs>
<div class=container>
<div class="row align-items-center">
<div class="col-lg-6 col-md-6 col-12">
<div class=breadcrumbs-content>
<h2 class=page-title style="color: #ffffff !important;">
    {% if noticia %}
        <h2>{{ noticia.titulo }}</h2>
        <h3>{{ noticia.subtitulo}}</h3>
    {% elif pagina %}
        <h2>{{ pagina.titulo }}</h2>
        <h3>{{ pagina.subtitulo }}</h3>
    {% elif categoria %}
        <h3>Noticias de la categoria: {{ categoria.nombre}}</h3>
    {% elif resultados %}
        <h3>Resultados de la busqueda</h3>
    {% elif contacto %}
        <h3>Formulario de contacto</h3>
        {% else %}
        <h2>Inicio</h2>
    {% endif %}
</h2>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<ul class=breadcrumb-nav>


    {% if noticia %}
    <li><a href="{% url 'home' %}">Inicio</a>
        <a href="/blog/{{noticia.slug}}/"> | {{ noticia.titulo }}</a>
    </li>   
    {% elif pagina %}
    <li><a href="{% url 'home' %}">Inicio</a>
        <a href="/pagina/{{pagina.slug}}/"> | {{ pagina.titulo }} </a>
    </li>
    {% endif %}

</ul>
</div>
</div>
</div>
</div>


<section class="section blog-grid-page">
<div class=container>
<div class=row>
{% if not contacto %}
<div class="col-lg-8 col-md-12 col-12">
{% else %}
<div class="col-lg-12 col-md-12 col-12">
{% endif %}
<!-- AQUÍ VA EL CONTENIDO DINÁMICO -->
{% block content %}
{% endblock %}
<!-- AQUÍ VA EL CONTENIDO DINÁMICO -->


</div>
{% if not contacto%}
<aside class="col-lg-4 col-md-12 col-12">
<div class=sidebar>

<div class="widget search-widget">
<h5 class=widget-title>Buscador</h5>
<form id="BusquedaForm" action="{% url 'buscar_noticias' %}" method="POST">
{% csrf_token %}
<input type=text name="cadena" placeholder="Buscar ...">
<button type=submit><i class="lni lni-search-alt"></i></button>
</form>
</div>

<div class="widget popular-feeds">
<h5 class=widget-title>Noticias más leidas</h5>
<div class=popular-feed-loop>

    {% for noticia in mas_leidas %}
        <div class=single-popular-feed>
        <div class=feed-desc>
        <h6 class=post-title><a href="/blog/{{noticia.slug}}">{{ noticia.titulo }}</a></h6>
        <span class=time><i class="lni lni-calendar"></i> {{ noticia.fecha_creacion }}</span>
    </div>
    </div>
    {% endfor %}
</div>
</div>


<div class="widget popular-tag-widget">
<h5 class=widget-title>Categorias</h5>
<div class=tags>
{% for categoria in categorias %}
<a href="/categoria/{{categoria.slug}}/"> {{ categoria.nombre}}</a>
{% endfor %}
</div>
</div>

</div>
</aside>
{% endif %}
</div>
</div>
</section>





<footer class="footer section">

<div class=footer-top>
<div class=container>
<div class=inner-content>
<div class=row>
<div class="col-lg-4 col-md-6 col-12">

<div class="single-footer f-about">
<div class=logo>
<a href="{% url 'home' %}">
    <h4>José Manuel Sanz</h4>
</a>
</div>
<p>Un blog fruto del aprendizaje de Python / Django.</p>
<p class=copyright-text><span>José Manuel Sanz © 2023 </span>Basado en el tema Blink de <a href="https://graygrids.com/" rel=nofollow target=_blank>GrayGrids</a>
</p>
</div>

</div>
<!-- <div class="col-lg-2 col-md-6 col-12">

<div class="single-footer f-link">
<h3>Solutions</h3>
<ul>
<li><a href="javascript:void(0)">Marketing</a></li>
<li><a href="javascript:void(0)">Analytics</a></li>
<li><a href="javascript:void(0)">Commerce</a></li>
<li><a href="javascript:void(0)">Insights</a></li>
</ul>
</div>

</div> -->
<div class="col-lg-2 col-md-6 col-12">

<div class="single-footer f-link">
<h3>Redes sociales</h3>
<ul class="social-icons">
    <li>
      <a href="https://twitter.com/jmsanzprieto">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/josemanuelsanzprieto/">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="https://github.com/jmsanzprieto/">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
  
</div>

</div>
<!-- <div class="col-lg-4 col-md-6 col-12">

<div class="single-footer newsletter">
<h3>Subscribe</h3>
<p>Subscribe to our newsletter for the latest updates</p>
<form action="#" method=get target=_blank class=newsletter-form>
<input name=EMAIL placeholder="Email address" required=required type=email>
<div class=button>
<button class=sub-btn><i class="lni lni-envelope"></i>
</button>
</div>
</form>
</div>

</div> -->
</div>
</div>
</div>
</div>

</footer>


<!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'core/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'core/assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'core/assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'core/assets/js/count-up.min.js' %}"></script>
    <script src="{% static 'core/assets/js/main.js' %}"></script>
    <script>
        //========= testimonial 
        tns({
            container: '.testimonial-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: true,
            controls: false,
            controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 1,
                },
                768: {
                    items: 1,
                },
                992: {
                    items: 1,
                },
                1170: {
                    items: 2,
                }
            }
        });

        //====== counter up 
        var cu = new counterUp({
            start: 0,
            duration: 2000,
            intvalues: true,
            interval: 100,
            append: " ",
        });
        cu.start();
    </script>
</body>

</html>