<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Personal</title>
</head>
<body>
    <!-- CABECERA Y MENUS -->
    <h1>Web personal</h1>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Sobre mi</a></li>
    <li><a href="/contacto">Contacto</a></li>
    
</ul>
    <!-- CABECERA Y MENUS -->

    <!-- CONTENIDO VARIABLE -->
    <!-- definimos un bloque de contenidos, que variará a lo largo de la navegación -->
    {% block content%}
    {% endblock %}
    <!-- CONTENIDO VARIABLE -->
</body>
</html>